.circle-button-div {
  button {
    background-color: #0a0a16;
    cursor: pointer;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    outline: none;
    border: none;
    margin-right: 10px;
  }
  svg {
    fill: #fff;
    border-radius: 50%;
    margin-top: 2px;
  }
}
.audio-list {
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    span {
      margin-right: 20px;
      color: #ef5466;
    }
  }
  a {
    margin-right: auto;
    color: #ef5466;
    transition-duration: 0.15s;
  }
  a:hover {
    color: #ca2a36;
  }
}
.circle-button-hover {
  background-image: url('http://cdns-files.dzcdn.net/cache/slash/images/common/animated/equalizer/12x12/inverse.1ed354e01b9e97207f6ac710e6c23eaa.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.circle-button-hover:hover {
  background-image: url('https://i.ibb.co/WkFhTyw/pause.png');
  background-size: cover;
  z-index: 3;
  background-color: black;
}
.circle-profile {
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 35px !important;
  height: 35px !important;
  background-color: #fff !important;
  svg {
    fill: #000;
  }
}
.circle-button-hover_svg-play {
  background-image: url('https://cdns-files.dzcdn.net/cache/slash/images/common/animated/equalizer/12x12/dark.ee54bef1c488b8caebde2b4915d0fc5d.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}
.circle-button-hover_svg-play:hover {
  background-image: url('https://www.iconninja.com/files/786/206/557/pause-icon.png');
  background-size: 24px;
  z-index: 3;
  background-color: #fff;
}
