.progress-bar {
  max-width: 800px;
  width: 80%;
  margin: auto;
  padding: 0 8px;
}
.bar-wrapper {
  user-select: none;
  display: flex;
  align-items: center;

  &__time {
    color: grey;
    font-size: 16px;
  }

  &__progress {
    flex: 1;
    border-radius: 5px;
    margin: 0 20px;
    height: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__knob {
    display: none;
    position: relative;
    height: 10px;
    width: 10px;
    border: 1px solid grey;
    border-radius: 50%;
    background-color: white;
  }
  &__progress:hover {
    height: 8px;
  }
  &__knob {
    display: block;
  }
}

.song-text {
  display: block;
}

@media screen and (max-width: 768px) {
  .song-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
