@import 'ui/molecules/Header/Header.scss';
@import 'ui/atoms/ResumeButton/ResumeButton.scss';
@import 'ui/templates/MainLayout/MainLayout.scss';
@import 'ui/atoms/CircleButton//CircleButton.scss';
@import 'ui/organims/SongProfile/SongProfile.scss';
@import 'ui/molecules/PlayerControls/PlayerControls.scss';
@import 'ui/molecules/PlayerOptions/PlayerOptions.scss';
@import 'ui/molecules/ProgressBar/ProgressBar.scss';

body,
html {
  margin: 0;
  padding: 0;
  // font-family: Roboto, sans-serif;
}
*,
::after,
::before {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #bce;
}
.loader-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  > img {
    width: 120px;
    height: 120px;
  }
}
